* {
    box-sizing:border-box;
    background-color:teal;
    font-family: "Monaco", monospace;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square{
    background-color:white;
    
}

#grid{
    display:flex;
    flex-wrap:wrap;
    width:960px;
    height:960px;
    background-color: white;
}

#heading{
    margin:20px;
    
    font-size:30px;
    color:#ffffff;


}

#options{
    margin:20px;
    width:960px;
    display:flex;
    justify-content: space-between;
}

input, button{
    background-color: white;
    color:black;
    width:150px;
    font-size:25px;   
}

button{
    border:0;
    /*transition: background-color 0.3s;*/
}

input { 
    border: 1px solid black;
}

.flash {
    background-color: black;
    color:white;
}